# Default ignored files
/shelf/
# Editor-based HTTP Client requests
/httpRequests/
# IDEs
/.idea
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.iml
# Gradle files
.gradle/
*/build
*.bat
/agency/gradle/wrapper/
/housing/gradle/wrapper/
